*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
	font-size: 15px;
}
#head{
	width: 100%;
	height: 100px;
	float: left;
}
#head-one{
	padding-top: 50px;
	padding-left: 200px;
}
#head-one li{
	float: left;
	width: 100px;
}
.head-three{
	z-index: 999;
	display: none;
}
.head-five{
	z-index: 999;
	display: none;
}
#bottom{
	text-align: center;
}